<!-- <form action = "returned_move" method = "post"> -->
<table>
	<tr>
		<td><%=board[0]%></td>
		<td><%=board[1]%></td>
		<td><%=board[2]%></td>
	</tr>
	<tr>
		<td><%=board[3]%></td>
		<td><%=board[4]%></td>
		<td><%=board[5]%></td>
	</tr>
	<tr>
		<td><%=board[6]%></td>
		<td><%=board[7]%></td>
		<td><%=board[8]%></td>
	</tr>
</table>
<%= "#{current_player.marker} it is your turn pick a valid spot."%><br>
<form method = "post" action = "get_player_move">
	<input type = "number" name = "move_spot">
	<input type = "submit">
</form>


<!-- <form id="squareForm" action="/game" method="POST">
            <table>
                <tr>
                    <td class="br"><input class="board" type="submit" name="square" value="<%=board[0]%>"></td><td class="br"><input class="board" type="submit" name="square" value="<%=board[1]%>"></td><td class="b"><input class="board" type="submit" name="square" value="<%=board[2]%>"></td>
                </tr>
                <tr>
                    <td class="br"><input class="board" type="submit" name="square" value="<%=board[3]%>"></td><td class="br"><input class="board" type="submit" name="square" value="<%=board[4]%>"></td><td class="b"><input class="board" type="submit" name="square" value="<%=board[5]%>"></td>
                </tr>
                <tr>
                    <td class="r"><input class="board" type="submit" name="square" value="<%=board[6]%>"></td><td class="r"><input class="board" type="submit" name="square" value="<%=board[7]%>"></td><td><input class="board" type="submit" name="square" value="<%=board[8]%>"></td>
                </tr>
            </table>
            </form>
 -->